/* デスクトップ向け */

body {
  background-color: rgb(243 244 246);
}

.logo {
  font-size: 40px;
  color: #2563eb;
  font-weight: 900;
  padding-left: 15px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-search {
  display: flex;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #fff;
}

.header {
  margin: 30px 45px 0 45px;
  display: flex;
}

.select-area {
  padding: 10px 20px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-right: 3px solid #ebebeb;
}

.select-genre {
  padding: 10px 15px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-right: 3px solid #ebebeb;
}

.select-text {
  padding: 10px 150px 5px 50px;
  font-size: 16px;
  border: none;
}

.select-icon {
  position: relative;
}

.select-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  background: url(../../storage/search.png) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  color: #ebebeb;
  transform: translate(0, -50%);
}

/* ハンバーガーメニュー */

.drawer_hidden {
  display: none;
}

.drawer_open {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
  background-color: #2563eb;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 35px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ffffff;
  transition: 0.5s;
  position: absolute;
}

.drawer_open span:before {
  bottom: 10px;
  width: 18px;
}

.drawer_open span:after {
  top: 10px;
  width: 10px;
}

#drawer_input:checked~.drawer_open span {
  background: rgba(255, 255, 255, 0);
}

#drawer_input:checked~.drawer_open span::before {
  bottom: 0;
  width: 35px;
  transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
  top: 0;
  width: 35px;
  transform: rotate(-45deg);
}

.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #fff;
  transition: .5s;
}

.nav_list {
  list-style: none;
  color: #2563eb;
  text-align: center;
  margin: 10rem;
  font-size: 2.5rem;
  font-weight: 3rem;
}

#drawer_input:checked~.nav_content {
  left: 0;
}

/* カード表示 */
.flex__item {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 35px 30px 45px;
}

.detail__img img {
  width: 100%;
}

.card__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card__content {
  padding: 20px 25px;
}

.card__ttl {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0;
  font-weight: bold;
}

.card__cat {
  padding: 5px 17px;
  background: #2e65fd;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

.tag {
  font-size: 14px;
}

.tag p {
  display: inline;
  margin: 0;
  line-height: 40px;
}

.card__tag {
  display: inline-block;
  font-weight: bold;
}

.card__date {
  display: inline-block;
  font-weight: bold;
}

.card__btn {
  margin-left: auto;
  align-items: center;
}

/* 店舗詳細ページ */
.detail__ttl {
  font-size: 40px;
}

.detail__ttl-btn {
  display: flex;
  align-items: center;
  margin: 45px 0 20px 0;
}

.detail__ttl-btn form {
  margin-right: 10px;
}

.detail__ttl-btn h1 {
  margin: 0 0 0 20px;
}

.detail__btn {
  background-color: #fff;
  border: none;
  font-size: 35px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0 10px;
}

.detail-content {
  display: flex;
  margin: 30px 45px 0 45px;
}

.detail-main {
  width: 50%;
  height: 100%;
  margin-right: 100px;
}

.detail-sub {
  margin-left: 50px;
}

.practice__detail {
  width: 100%;
}

.detail-reserve {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3574fa;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
}

.detail-reserve_sub {
  margin: 0 30px 0px 30px;
  padding-top: 20px;
}

.detail-datatime {
  width: 10vw;
  height: 1.5vw;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
}

.select-time {
  width: 30vw;
  height: 1.5vw;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.select-number {
  width: 30vw;
  height: 1.5vw;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.detail-information {
  background-color: #84aafd;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}

.detail-information_title {
  text-align: left;
}

.detail-information_table {
  line-height: 40px;
}

.detail-information_content {
  padding-left: 70px;
}

.detail_btn {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 93%;
  color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: #2563eb;
  border: none;
  border-radius: 5px;
  padding: 20px 45.5% 20px 45.5%;
  font-size: 20px;
  cursor: pointer;
  background-color: #2e65fd;
}

.thanks__card {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 100px auto;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
}

.thanks__tetle {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-top: 80px;
}

.thanks__btn {
  padding-top: 50px;
  text-align: center;
}

.favorite-active {
  color: red;
}

.mypage {
  margin: 10px 65px 0 65px;
  display: flex;
}

.mypage_register {
  width: 50%;
  padding-top: 50px;
}

.mypage_favorite {
  width: 50%;
}

.mypage__user-logout {
  font-size: 20px;
  font-weight: bold;
}

.mypage_favorite-tetle {
  padding-top: 7px;
}

.detail-datatime,
.select-time,
.select-number {
  font-family: 'Roboto', sans-serif;
}

/* マイページ */
.favorite__card-flex {
  display: flex;
  flex-wrap: wrap;
}

.mypage_register-page {
  width: 80%;
  background-color: #3574fa;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  margin-bottom: 25px;
}

.mypage_register-situation {
  padding: 25px 0 0 100px;
  margin-right: auto;
}

.detail-table {
  padding: 15px 0 10px 50px;
}

.mypage_register-logo {
  position: relative;
}

.mypage_register-logo::before {
  content: "";
  position: absolute;
  left: 50px;
  background: url(../../storage/time.png) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  color: #ebebeb;
}

.practice__card {
  width: 23.8%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 0px 10px 30px 10px;
  border-radius: 5px;
  background-color: #fff;
}

.mypage__card {
  width: 35%;
  height: 30%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 0px 80px 30px 10px;
  border-radius: 5px;
  background-color: #fff;
}

.heart-active {
  filter: invert(29%) sepia(81%) saturate(5967%) hue-rotate(347deg) brightness(97%) contrast(92%);
}

.card__content {
  padding: 20px 25px;
}

.tag__favorite p {
  display: inline;
  margin: 0;
  line-height: 40px;
}

.card__favorite {
  padding: 5px 25px 10px 25px;
}

.mypage__user {
  font-size: 26px;
  font-weight: bold;
}

.mypage_cancel-btn {
  background-color: #3574fa;
  cursor: pointer;
  border: none;
}

.mypage_cancel {
  background-color: #3574fa;
  border: none;
  padding: 30px 50px 0 0;
}

.mypage_register-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
